# Default owners for everything in this repo.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @connectors-testing-pplx
